.sign-up{
    margin: 0px;
    padding: 0px;
}

.sign-up-body{


    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
}

.section-sign-up{
    background: transparent;
}



.button{
    padding: 10px 14px;
    background: black;
    color: white;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
    
}
.button:hover{
    background: #3f3f3f;

}
.button:focus{
    border-color: #464646;
    box-shadow: 1px 1px 1px #4b4b4b;

}



.signUpdiv1{

}